<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
       

        <main>
            <div class ="form">
             <h1>Contact NOW</h1>
            <form method="post" action="/userData">
            <!-- important to remember use of locales object  -->
               <input type = "text" name ="name" placeholder="name"/>
               <input type = "email" name = "email" placeholder="email"/>
               <button type ="submit">send</button>

            </form></div>
        </main>
        <script src="script.js" async defer></script>
    </body>
</html>